

      

        <li class="dropdown mega-dropdown">

                <a href="#" class="dropdown-toggle administration" data-toggle="dropdown">Administration<span class="caret"></span></a>               

                <div class="dropdown-menu">

                    

                        <div class="mega-dropdown-menu">
                            

                            <div class="col-md-3 col-xs-12 col-sm-6 sub-menu">
                                <h3><a href="{{ path('admin_categories') }}" >Categories</a></h3>  
                                <ul class="list-unstyled">                   
                                    {#  {% for category in categories %}              
                                         <li><a href="#">{{ category.name }}</a></li>
                                    {% endfor %}  #}
                                </ul>
                            </div>
                                
                        <div class="col-md-3 col-xs-12 col-sm-6 sub-menu">
                                {# <h3><a href="{{ path('admin_news') }}" >News</a></h3> #}
                                 <h3><a href="#" >News A definir</a></h3> 
                            </div>
                                
                            
                                
                          <div class="col-md-3 col-xs-12 col-sm-6 sub-menu">
                                <h3><a href="{{ path('admin_annonces') }}" >Annonces</a></h3>  
                     
                            </div>
                                
                          <div class="col-md-3 col-xs-12 col-sm-6 sub-menu">
                                <h3><a href="{{ path('admin_chroniques') }}" >Chroniques</a></h3>  
                           
                            </div>
                                
                          <div class="col-md-3 col-xs-12 col-sm-6 sub-menu">
                                <h3><a href="{{ path('admin_tag') }}" >Tag</a></h3>  
                           
                            </div>
                                
                             <div class="col-md-3 col-xs-12 col-sm-6 sub-menu">
                                <h3><a href="{{ path('admin_handicap') }}" >handicap</a></h3>  
                           
                            </div>


                       

                    </div>

                 

                </div>              

            </li>

        
        
   