{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">

    <h1>Mes Annonces</h1>
    
    <p><a href="{{ path('user_annonce_edit') }}">Ajouter une Annonce</a></p>
    
    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Paragraphe 1</th>
            <th>Paragraphe 2</th>
            <th>Catégorie</th>
            <th>Img 1</th>
            <th>Img 2</th>
            <th>Img 3</th>
            <th width="120px"></th>
        </tr>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.post_title }}</td>
                <td>{{ annonce.paragraphe_1}}</td>
                <td>{{ annonce.paragraphe_2}}</td>
                <td>{{ annonce.category_name}}</td>
                <td>{{ annonce.url_img_1}}</td>
                <td>{{ annonce.url_img_2}}</td>
                <td>{{ annonce.url_img_3}}</td>
                <td>                    
                    <a href="{{ path('user_annonce_edit', {id: annonce.id_post}) }}" class="btn btn-primary">
                        Modifier
                    </a>
                       <hr>
                    <a href="{{ path('user_annonce_delete', {id: annonce.id_post}) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="5" style="text-align: center">Aucun résultat</td></tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}

