{# empty Twig template #}

<footer>
            <div class="container">
                <div class="row footer-top">
                   <div class="col-sm-4 footer-box">
                       <h4>Qui sommes-nous?</h4>
                       <div class="footer-box-text">
                           <p>
                           Créée pour répondre à une demande spécifique, ce site participatif est adréssé aux particuliers en situation de handicap et aux personnes avec un fort besoin d'accéssibilité.
                           Nous proposons un BLOG PARTICIPATIF, des échanges grâce aux supports de PARTAGE D’INFORMATIONS, mais également des RUBRIQUES: VENTE/ECHANGE/ENTRAIDE ENTRE PARTICULIERS ET ASSOCIATIONS.
                             
                       </div>
                   </div>
                   <div class="col-sm-4 footer-box">
                       <h4>Instagram</h4>
                       <div class="footer-box-text flickr-feed">
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp4.jpg') }}" alt=" Flickr"/></a>
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp1.jpg') }}" alt=" Flickr"/></a>
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp2.jpg') }}" alt=" Flickr"/></a>
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp3.jpg') }}" alt=" Flickr"/></a>
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp1.jpg') }}" alt=" Flickr"/></a>
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp2.jpg') }}" alt=" Flickr"/></a>
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp3.jpg') }}" alt=" Flickr"/></a>
                           <a href="#" target="_blank" rel="nofollow"><img src="{{ asset('assets/images/post/rp4.jpg') }}" alt=" Flickr"/></a>
                       </div>
                   </div>
                   <div class="col-sm-4 footer-box">
                       <h4>Où nous trouver</h4>
                       <div class="footer-box-text">
                           <p><span class="gray-text">Address:</span> 82 avenue Denfert Rochereau, 75014 Paris </p>
                            <p><span class="gray-text">Téléphone:</span> +33 1 43 00 00 00</p>
                            <p><span class="gray-text">Email:</span> <a href="">info@wf3.net</a></p>
                       </div>
                   </div>
                </div>
                <div class="row footer-bottom">
                   <div class="col-sm-7 footer-copyright">
                       <p>©2017 Laville/Djebli/Loddo/Le Coadic/Chouraki</p>
                   </div>
                   <div class="col-sm-5">
                   <ul class="list-inline footer-social">
                       <li><a class="facebook" target="_blank" href="https://fr-fr.facebook.com/accueilhandicap/"><i class="fa fa-facebook"></i></a></li>
                       <li><a class="twitter" target="_blank" href="https://twitter.com/TREMPLIN_HANDI"><i class="fa fa-twitter"></i></a></li>
                    
                   </ul>
                   </div>
                </div>
            </div>
       </footer>
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
