<header>


<!-- Fixed navbar -->

<nav class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
     <a class="navbar-brand logo" href="{{ path('homepage') }}" title="logo">
         <img src="{{ asset ('assets/images/logo.png') }}" alt="logo" />
      
      </a> </div>
    <div class="navbar-collapse collapse pull-left">
      <ul class="nav navbar-nav menu" id="menu">
        <!-- <li class="dropdown">  class="dropdown-toggle"-->
        <li><a href="{{ path('homepage') }}" role="button" aria-expanded="false">Accueil</a></li>
        <li class="dropdown mega-dropdown">
                <a href="{{ path('news') }}">News <span class="caret"></span></a>
{#                 class="dropdown-toggle" data-toggle="dropdown"#}
            <div class="dropdown-menu">
                <div class="container"> 
                    <div class="mega-dropdown-menu">
                        
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs">
                              <li class="active"><a href="#Actualites" data-toggle="tab">Actualité<i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Sport" data-toggle="tab">Sport <i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Culture" data-toggle="tab">Culture <i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Sortie" data-toggle="tab">Sortie <i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Insolite" data-toggle="tab">Insolite  <i class="arrow_carrot-right"></i></a></li>
                            </ul>
                            
                            <div class="col-md-3 col-xs-12 col-sm-4 sub-menu">
                              <h3>Dernières news </h3>
                              <ul class="list-unstyled">
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Materiel"}) }}">Matériels </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Véhicule"}) }}">Véhicule </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Informatique"}) }}">Informatique </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Service"}) }}">Service </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Vétements"}) }}">Vétements </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Autre"}) }}">Autres </a></li>
                             </ul>
                            </div>
                            
                            <div class="col-md-3 col-xs-12 col-sm-4 sub-menu">
                              <h3>Jeux paralympiques d'été Paris 2024 </h3>
                              <ul class="list-unstyled">
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Materiel"}) }}">Natation </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Véhicule"}) }}">Athlétisme </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Informatique"}) }}">Sport d'équipe </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Service"}) }}">Tous les sports </a></li>
                            </ul>
                            </div>
                             
                            <div class="col-md-3 col-xs-12 col-sm-4 sub-menu">
                              <h3>Jeux paralympiques d'hiver Séoul 2018</h3>
                              <ul class="list-unstyled">
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Materiel"}) }}">Ski </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Véhicule"}) }}">Hockey </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Informatique"}) }}">Curling </a></li>
                                 <li><a href="{{ path('annonce_rubrique', {rubrique: "Service"}) }}">Snowboarding </a></li>
                                
                             </ul>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>              
        </li>

        <li class="dropdown mega-dropdown">
                <a href="{{ path('annonces')}}">Annonces<span class="caret"></span></a>
{#                 class="dropdown-toggle" data-toggle="dropdown"#}
                <div class="dropdown-menu">
                    <div class="container">
                    <div class="mega-dropdown-menu">
                        <div class="col-md-4 col-xs-12 col-sm-6 sub-menu">
                            <h3>Rubriques </h3>
                            <ul class="list-unstyled">
                                <li><a href="{{ path('annonce_rubrique', {rubrique: "Materiel"}) }}">Matériels </a></li>
                                <li><a href="{{ path('annonce_rubrique', {rubrique: "Véhicule"}) }}">Véhicule </a></li>
                                <li><a href="{{ path('annonce_rubrique', {rubrique: "Informatique"}) }}">Informatique </a></li>
                                <li><a href="{{ path('annonce_rubrique', {rubrique: "Service"}) }}">Service </a></li>
                                <li><a href="{{ path('annonce_rubrique', {rubrique: "Vétements"}) }}">Vétements </a></li>
                                <li><a href="{{ path('annonce_rubrique', {rubrique: "Autre"}) }}">Autres </a></li>
                            </ul>
                        </div>
                        
                        <div class="col-md-4 col-sm-6 sub-menu hidden-xs">
                            <h3>Dernières annonces</h3>
                            <ul class="list-unstyled">
                                {{ render(url('annonce_menu')) }}
                                {#<li><a href="{{ path('single_annonce', {id : 1})}}}">Annonce 1</a></li>
                                <li><a href="{{ path('single_annonce', {id : 1})}}}">Annonce 1</a></li>
                                <li><a href="{{ path('single_annonce', {id : 1})}}}">Annonce 1</a></li>
                                <li><a href="{{ path('single_annonce', {id : 1})}}}">Annonce 1</a></li>
                                <li><a href="{{ path('single_annonce', {id : 1})}}}">Annonce 1</a></li>
                                <li><a href="{{ path('single_annonce', {id : 1})}}}">Annonce 1</a></li>#}
                                
                               {#{% for annonceHeader in annoncesHeader %} 
                                <li><a href="{{ path('single_annonce', {id: annonceHeader.id_post}) }}">{{ annonceHeader.post_title }}</a></li>
                               {% endfor %}#}
                                {#<li><a href="single.html">TEST</a></li>

                                <li><a href="single.html"></a></li>
                                <li><a href="single.html"></a></li>
                                <li><a href="single.html"></a></li>
                                <li><a href="single.html"></a></li>#}
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 sub-menu  hidden-xs">
                            <h3>Suivez-nous</h3>
                            <p>Vous pouvez également maintenant nous suivre sur les réseaux sociaux</p>
                            <br/>
                             <ul class="list-inline store-icon">
                              <li><a href="https://fr-fr.facebook.com/accueilhandicap/"><i class="fa fa-facebook"></i> Facebook </a></li>
                              <li><a href="https://twitter.com/TREMPLIN_HANDI"><i class="fa fa-twitter"></i> Twitter </a></li>
                            </ul>
                        </div>
                    </div>
                    </div>   
                </div>              
            </li>
         <li class="dropdown mega-dropdown">
                <a href="{{ path('chroniques')}}">Chroniques<span class="caret"></span></a>  
{#                 class="dropdown-toggle" data-toggle="dropdown"#}
                <div class="dropdown-menu">
                    <div class="container">
                    <div class="mega-dropdown-menu">
                        <div class="col-md-4 col-xs-12 col-sm-6 sub-menu">
                            <h3>Rubriques</h3>
                            <ul class="list-unstyled">
                                <li><a href="{{ path('chronique_rubrique', {rubrique: "Actualité"}) }}">Actualité</a></li>
                                <li><a href="{{ path('chronique_rubrique', {rubrique: "Sport"}) }}">Sport  </a></li>
                                <li><a href="{{ path('chronique_rubrique', {rubrique: "Culture"}) }}">Culture </a></li>
                                <li><a href="{{ path('chronique_rubrique', {rubrique: "Sortie"}) }}"">Sortie </a></li>
                                <li><a href="{{ path('chronique_rubrique', {rubrique: "Insolite"}) }}">Insolite</a></li>
                            </ul>
                        </div>
                     
                        <div class="col-md-4 col-sm-6 sub-menu hidden-xs">
                            <h3>Dernières chroniques</h3>
                            <ul class="list-unstyled">
                              <li><a href="{{ path('single_chronique', {id : 1}) }}">Chronique 1</a></li>
                              <li><a href="{{ path('single_chronique', {id : 1}) }}">Chronique 1</a></li>
                              <li><a href="{{ path('single_chronique', {id : 1}) }}">Chronique 1</a></li>
                              <li><a href="{{ path('single_chronique', {id : 1}) }}">Chronique 1</a></li>
                              <li><a href="{{ path('single_chronique', {id : 1}) }}">Chronique 1</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 sub-menu  hidden-xs">
                            <h3>Suivez-nous</h3>
                            <p>Vous pouvez également maintenant nous suivre sur les réseaux sociaux</p>
                            <br/>
                            <ul class="list-inline store-icon">
                              <li><a href="https://fr-fr.facebook.com/accueilhandicap/"><i class="fa fa-facebook"></i> Facebook </a></li>
                              <li><a href="https://twitter.com/TREMPLIN_HANDI"><i class="fa fa-twitter"></i> Twitter </a></li>
                            </ul>
                        </div>
                    </div>
                    </div>   
                </div>              
            </li>
          <li class="dropdown">
		<li><a href="{{ path('messProfilToUs') }}">Contact</a></li>
		{% if user_manager.user %} 
			<li><a href="{{ path('deconnexion') }}" class="inscription">Deconnexion</a></li>

		 {% else %} 
			<li><a href="{{ path('connexion') }}" class="connexion">Connexion</a></li>
			<li><a href="{{ path('inscription') }}" class="connexion">Inscription</a></li>
		{% endif %}  
          
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right menu social-icons">
        <li class="dropdown mega-dropdown search">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-search"></i></a>
          <div class="dropdown-menu">
                    <div class="container">
                        <div class="row">
                        <div class="col-md-6 pull-right">
                    <div class="mega-dropdown-menu">
                        <form class="search-form" action="search.html">
                            <div class="form-group">
                        <div class="col-lg-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Recherche...">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                              </span>
                            </div><!-- /input-group -->

                          </div>
                          </div>
                      </form>
                    </div>
                    </div>
                    </div>

                    </div>   
                </div>
        </li>
		{% if user_manager.user %} 
			{#
			<li><a href="#"><i>{{user_manager.username}}</i></a></li>
			<li><a href="{{ path('deconnexion') }}"><i class="fa fa-times"></i></a></li> #}
		
						
					<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user_manager.username}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							 <li class="active"><a href="{{ path('profilUser', {id: user_manager.id}) }}" >Mon tableau de bord</a></li>
							  <li class="divider"></li>
							  <li><a href="{{path('user_annonce_edit')}}">Poster une annonce</a></li>
							  <li><a href="{{path('user_chronique_edit')}}">Poster une chronique</a></li>
							  <li class="divider"></li>
							  <li><a href="{{ path('deconnexion') }}">Deconnexion</a></li>
						</ul>
				  </li>
				  <li><a href="{{ path('deconnexion') }}"><i class="fa fa-times"></i></a></li>
				  
                        {% else %} 
			{# <li><a href="{{ path('connexion') }}"><i class="fa fa-user"></i></a></li>
			#}
			<li><a href="{{ path('connexion') }}"><i class="fa fa-user"></i></a></li>
			
	
						<ul class="dropdown-menu" role="menu">
							 <li class="active"><a href="#Travel" data-toggle="tab">Mon tableau de bord<i class="arrow_carrot-right"></i></a></li>
							  <li class="divider"></li>
							  <li><a href="single.html">lire les annonces</a></li>
							  <li><a href="single.html">lire les news</a></li>
							  <li><a href="single.html">lire les chroniques</a></li>
							  <li class="divider"></li>
							  <li><a href="signin.html">Connexion</a></li>
							  <li><a href="signup.html">Inscription</a></li>
						</ul>
				  </li>
		{% endif %} 
		
		 {% if user_manager.admin %}
                    {% include 'admin/headerAdmin.html.twig'%} 
                 {% endif %}
         </ul>
    <!--/.nav-collapse --> 
  </div>
</nav>
</header>
 
{#  <!-- Preloader -->
  
  <div id="preloader">
    <div id="status">
      <div class='spinner-wrap'>
        <div class='leftside'></div>
        <div class='rightside'></div>
        <div class='spinner'>
          <div class='bounce1'></div>
          <div class='bounce2'></div>
          <div class='bounce3'></div>
        </div>
      </div>
    </div>
  </div>#}
  
