<header>


<!-- Fixed navbar -->

<nav class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand logo" href="{{ path('homepage') }}" title="logo">
         <img src="{{ asset ('assets/images/logo.png') }}" alt="logo" />
      {#yGrekinf#}
      </a> </div>
    <div class="navbar-collapse collapse pull-left">
      <ul class="nav navbar-nav menu" id="menu">
        <!-- <li class="dropdown">  class="dropdown-toggle"-->
        <li><a href="#" role="button" aria-expanded="false">Accueil</a></li>
        <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <span class="caret"></span></a>
            <div class="dropdown-menu">
                <div class="container"> 
                    <div class="mega-dropdown-menu">
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs">
                              <li class="active"><a href="#Actualites" data-toggle="tab">Actualité<i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Sport" data-toggle="tab">Sport <i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Culture" data-toggle="tab">Culture <i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Sortie" data-toggle="tab">Sortie <i class="arrow_carrot-right"></i></a></li>
                              <li><a href="#Insolite" data-toggle="tab">Insolite  <i class="arrow_carrot-right"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="Photography">
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post1.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Travel The World</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post6.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Google Play Music</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post4.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Business Plan</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post8.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Best Mobile Apps</h3>
                                                </div>
                                            </div>
                                    </div>       
                                </div>
                                <div class="tab-pane" id="Travel">
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post5.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>LifeStyle</h3>
                                                </div>
                                            </div>
                                    </div>
                                   <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post2.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Mobile reviews</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post7.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Apple Probook</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post4.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Business Call</h3>
                                                </div>
                                            </div>
                                    </div>
                                </div>  
                                <div class="tab-pane" id="Music">
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post6.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Android Music</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post1.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Canan Digital Cam</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post3.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Classical Music</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post8.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>IPhone Tunes</h3>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="Apps">
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post1.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Android Music</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post6.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Canan Digital Cam</h3>
                                                </div>
                                            </div>
                                    </div>
                                   <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post8.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>Classical Music</h3>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-md-3">
                                            <div class="thumbnail">
                                                <a href="single.html"><img src="{{ asset('assets/images/feature-posts/feature-post3.png ') }}"  alt="Generic placeholder thumbnail"></a>
                                                <div class="caption">
                                                    <h3>IPhone Tunes</h3>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>              
        </li>

        <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Annonces<span class="caret"></span></a>               
                <div class="dropdown-menu">
                    <div class="container">
                    <div class="mega-dropdown-menu">
                        <div class="col-md-4 col-xs-12 col-sm-6 sub-menu">
                            <h3>Rubriques </h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Matériels </a></li>
                                <li><a href="#">Véhicule </a></li>
                                <li><a href="#">Informatique </a></li>
                                <li><a href="#">Service </a></li>
                                <li><a href="#">Vétements </a></li>
                                <li><a href="#">Autres </a></li>
                            </ul>
                        </div>
                        
                        <div class="col-md-4 col-sm-6 sub-menu hidden-xs">
                            <h3>Dernières annonces</h3>
                            <ul class="list-unstyled">
                               {#{% for annonce in annonces %} 
                                <li><a href="{{ path('single_annonce', {id: annonce.id_post}) }}">{{ annonce.post_title }}</a></li>
                               {% endfor %} #}       
                                <li><a href="single.html">TEST</a></li>
                                <li><a href="single.html"></a></li>
                                <li><a href="single.html"></a></li>
                                <li><a href="single.html"></a></li>
                                <li><a href="single.html"></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 sub-menu  hidden-xs">
                            <h3>Suivez-nous</h3>
                            <p>Vous pouvez également maintenant nous suivre sur les réseaux sociaux</p>
                            <br/>
                             <ul class="list-inline store-icon">
                              <li><a href=""><i class="fa fa-facebook"></i> Facebook </a></li>
                              <li><a href=""><i class="fa fa-twitter"></i> Twitter </a></li>
                            </ul>
                        </div>
                    </div>
                    </div>   
                </div>              
            </li>
         <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chroniques<span class="caret"></span></a>               
                <div class="dropdown-menu">
                    <div class="container">
                    <div class="mega-dropdown-menu">
                        <div class="col-md-4 col-xs-12 col-sm-6 sub-menu">
                            <h3>Rubriques</h3>
                            <ul class="list-unstyled">
                              <li><a href="#">Actualité</a></li>
                                <li><a href="#">Sport  </a></li>
                                <li><a href="#">Culture </a></li>
                                <li><a href="#">Sortie </a></li>
                                <li><a href="#">Insolite</a></li>
                            </ul>
                        </div>
                     
                        <div class="col-md-4 col-sm-6 sub-menu hidden-xs">
                            <h3>Dernières chroniques</h3>
                            <ul class="list-unstyled">
                              <li><a href="single.html">Should Be A Large Heading </a></li>
                              <li><a href="single.html">Match With the Size  </a></li>
                              <li><a href="single.html">The Heading Text Size</a></li>
                              <li><a href="single.html">Should Be A Large Heading </a></li>
                              <li><a href="single.html">Match With the Image  </a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 sub-menu  hidden-xs">
                            <h3>Suivez-nous</h3>
                            <p>Vous pouvez également maintenant nous suivre sur les réseaux sociaux</p>
                            <br/>
                            <ul class="list-inline store-icon">
                              <li><a href=""><i class="fa fa-facebook"></i> Facebook </a></li>
                              <li><a href=""><i class="fa fa-twitter"></i> Twitter </a></li>
                            </ul>
                        </div>
                    </div>
                    </div>   
                </div>              
            </li>
          <li class="dropdown">
		<li><a href="{{ path('messProfilToUs') }}">Contact</a></li>
		{% if user_manager.user %} 
			<li><a href="{{ path('deconnexion') }}" class="inscription">Deconnexion</a></li>

		 {% else %} 
			<li><a href="{{ path('connexion') }}" class="connexion">Connexion</a></li>
			<li><a href="{{ path('inscription') }}" class="connexion">Inscription</a></li>
		{% endif %}  
          
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right menu social-icons">
        <li class="dropdown mega-dropdown search">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-search"></i></a>
          <div class="dropdown-menu">
                    <div class="container">
                        <div class="row">
                        <div class="col-md-6 pull-right">
                    <div class="mega-dropdown-menu">
                        <form class="search-form" action="search.html">
                            <div class="form-group">
                        <div class="col-lg-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Recherche...">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                              </span>
                            </div><!-- /input-group -->

                          </div>
                          </div>
                      </form>
                    </div>
                    </div>
                    </div>

                    </div>   
                </div>
        </li>
		{% if user_manager.user %} 
			{#
			<li><a href="#"><i>{{user_manager.username}}</i></a></li>
			<li><a href="{{ path('deconnexion') }}"><i class="fa fa-times"></i></a></li> #}
		
						
					<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user_manager.username}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							 <li class="active"><a href="{{ path('profilUser', {id: user_manager.id}) }}" >Mon tableau de bord</a></li>
							  <li class="divider"></li>
							  <li><a href="single.html">Poster une annonce</a></li>
							  <li><a href="single.html">Poster une news</a></li>
							  <li><a href="single.html">Poster une chronique</a></li>
							  <li class="divider"></li>
							  <li><a href="{{ path('deconnexion') }}">Deconnexion</a></li>
						</ul>
				  </li>
				  <li><a href="{{ path('deconnexion') }}"><i class="fa fa-times"></i></a></li>
				  
		{% else %} 
			{# <li><a href="{{ path('connexion') }}"><i class="fa fa-user"></i></a></li>
			#}
			<li><a href="{{ path('connexion') }}"><i class="fa fa-user"></i></a></li>
			
	
						<ul class="dropdown-menu" role="menu">
							 <li class="active"><a href="#Travel" data-toggle="tab">Mon tableau de bord<i class="arrow_carrot-right"></i></a></li>
							  <li class="divider"></li>
							  <li><a href="single.html">lire les annonces</a></li>
							  <li><a href="single.html">lire les news</a></li>
							  <li><a href="single.html">lire les chroniques</a></li>
							  <li class="divider"></li>
							  <li><a href="signin.html">Connexion</a></li>
							  <li><a href="signup.html">Inscription</a></li>
						</ul>
				  </li>
		{% endif %} 
		
		 {% if user_manager.admin %}
                    {% include 'admin/headerAdmin.html.twig'%} 
                 {% endif %}
         </ul>
    <!--/.nav-collapse --> 
  </div>
</nav>
</header>
 
{#  <!-- Preloader -->
  
  <div id="preloader">
    <div id="status">
      <div class='spinner-wrap'>
        <div class='leftside'></div>
        <div class='rightside'></div>
        <div class='spinner'>
          <div class='bounce1'></div>
          <div class='bounce2'></div>
          <div class='bounce3'></div>
        </div>
      </div>
    </div>
  </div>#}
  