{% extends "layout.html.twig" %}
{% block content %}
{# Ajout de div julien #}
</div> 

  <div class="feature-posts-grid" id="feature-posts-grid">
    <article class="col-md-12 col-sm-12 nopadding item"> <a href="single.html" class="thumbnail"> <img src="{{ asset ('assets/images/feature-posts/association.jpg') }}" alt="Canan Digital Photography"> </a>
      <div class="feature-text">
        <h3><a href="" title="Canan Digital Photography">Associations</a></h3>
       {# <p>Photography</p>#}
      </div>
    </article>
    <article class="col-md-12 col-sm-12 nopadding item"> <a href="{{ path('news') }}" class="thumbnail"> <img src="{{ asset ('assets/images/feature-posts/news.jpg') }}" alt="Travel The World"> </a>
      <div class="feature-text">
        <h3><a href="{{ path('news') }}" title="Travel The World">News</a></h3>
       {# <p>Travel</p>#}
      </div>
    </article>
    <article class="col-md-12 col-sm-12 nopadding item"> <a href="{{ path('annonces')}}" class="thumbnail"> <img src="{{ asset ('assets/images/feature-posts/petites-annonces.jpg') }}" alt="Google Play Music"> </a>
      <div class="feature-text">
        <h3><a href="{{ path('annonces')}}" title="Google play Music">Petites annonces</a></h3>
      {#  <p>Music</p>#}
      </div>
    </article>
    <article class="col-md-12 col-sm-12 nopadding item"> <a href="{{ path('chroniques')}}" class="thumbnail"> <img src="{{ asset ('assets/images/feature-posts/chronique.png') }}" alt="Best Mobile Apps"> </a>
      <div class="feature-text">
        <h3><a href="{{ path('chroniques')}}" title="Best Mobile Apps">Chroniques</a></h3>
       {# <p>apps</p>#}
      </div>
    </article>
    <article class="col-md-12 col-sm-12 nopadding item"> <a href="single.html" class="thumbnail"> <img src="{{ asset ('assets/images/feature-posts/partenaire.jpg') }}" alt="gallery"> </a>
      <div class="feature-text">
        <h3><a href="single.html" title="Canan Digital Photography">Partenaires</a></h3>
       {# <p>LifeStyle</p>#}
      </div>
    </article>
    <article class="col-md-12 col-sm-12 nopadding item"> <a href="{{ path('messProfilToUs') }}" class="thumbnail"> <img src="{{ asset ('assets/images/feature-posts/feature-post7.png') }}" alt="Best Feature Products"> </a>
      <div class="feature-text">
        <h3><a href="{{ path('messProfilToUs') }}" title="Best Feature Products">Contact</a></h3>
      {#  <p>Products</p>#}
      </div>
    </article>
    <article class="col-md-12 col-sm-12 nopadding item"> <a href="{{ path('about')}}" class="thumbnail"> <img src="{{ asset ('assets/images/feature-posts/about-us.jpg') }}" alt="Tablet Vs SmartPhones"> </a>
      <div class="feature-text">
        <h3><a href="{{ path('about')}}" title="Tablet Vs SmartPhones">Qui sommes-nous ?</a></h3>
       {# <p>SmartPhones</p>#}
      </div>
    </article>
  </div>
</section>
      
<section class="content">
  <div class="container">
    <h2 class="heading">News</h2>
                               
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <article class="post">
          <div class="post-type post-img"> <a href="#"><img src="{{ asset ('assets/images/post/post.jpg') }}" class="img-responsive" alt="image post" /></a> </div>
          <div class="author-info">
            <ul class="list-inline">
              <li>
                <div class="icon-box"><img src="{{ asset ('assets/images/post/author.jpg') }}" class="img-responsive" alt="image post" /></div>
                <div class="info">
                  <p>Posted by:</p>
                  <a href="author.html">Waqas Hussain</a> </div>
              </li>
              <li>
                <div class="icon-box"><i class="fa fa-calendar"></i></div>
                <div class="info">
                  <p>Posted on:</p>
                  <strong>Mar 21, 2015</strong></div>
              </li>
              <li>
                <div class="icon-box"><i class="fa fa-comments-o"></i></div>
                <div class="info">
                  <p>Comments:</p>
                  <strong>127</strong></div>
              </li>
              <li>
                <div class="icon-box"><i class="fa fa-eye"></i></div>
                <div class="info">
                  <p>Total View:</p>
                  <strong>4289</strong></div>
              </li>
            </ul>
          </div>
          <div class="caption">
            {# POUR LE MOMENT ID 1 EN TESTE #}
            <h3><a href="">Jeux Paralympiques Paris 2024</a></h3>
            <p>
                Les Mouvements Olympiques et Paralympiques Français ne font qu’un pour la candidature de Paris aux Jeux de 2024. 
                Le Comité Paralympique et Sportif Français (CPSF) et le CNOSF sont présents au Conseil d’Administration de Paris 2024. 
                Marie-Amélie Le Fur, championne Paralympique du 100 m, co-préside la commission des athlètes de Paris 2024 avec un autre champion Olympique, le judoka Teddy Riner. 
                Ils siègent au Conseil d’administration de Paris 2024, tout comme deux autres anciens champions, Marie-José Pérec (athlétisme) représentant le CNOSF et Cyril Moré (escrime en fauteuil) représentant le CPSF.
                <br>(src)  http://paris2024.org/fr/article/lhistoire-des-jeux-paralympiques
            </p>
         
            <ul class="list-inline tags">            
              <li><a href="#">Sport</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Paris</a></li>
              <li><a href="#">2024</a></li>
              <li><a href="#">Jeux</a></li>
            </ul>
            <a class="btn btn-default btn-lg" href="#" role="button">Read More</a> </div>
        </article>
            
        {#      #}
        
           
     <div class="clearfix"></div>
      </div>
     
      <aside class="col-md-4 col-lg-4">
         <div class="row">
             

             
                          
                    
        <div class="row">
          <div class="col-sm-6 col-md-12 col-lg-12">
            <div class="panel panel-default theme-panel">
              <div class="panel-heading">Annonces récentes </div>
              
        
              
               <div class="panel-body">
                <form action="#" method="post">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span> </div>
                </form>
              </div>
              
              
              {% for annonce in annonces %} 
               <div class="panel-body nopadding">
                <div class="media">
                  <div class="media-left"> <a href="{{ path('single_annonce', {id: annonce.id_post}) }}"> <img src="{{ annonce.url_img_1}}" alt="author" /></a> </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="{{ path('single_annonce', {id: annonce.id_post}) }}">{{ annonce.post_title }}</a></h4>
                    <p><a href="#">LifeStyle</a> &bull; 5 hours ago</p>
                  </div>
                </div>
               </div>
              {% endfor %}                     
            </div>
          </div>  
      </aside>
    </div>
              
    <div class="row">
      <div class="col-md-12">
        <article class="post vt-post">
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
              <div class="post-type post-img"> <a href="#"><img src="{{ asset ('assets/images/post/m1.jpg') }}" class="img-responsive" alt="image post" /></a> </div>
              <div class="author-info author-info-2">
                <ul class="list-inline">
                  <li>
                    <div class="info">
                      <p>Posted on:</p>
                      <strong>Mar 21, 2015</strong></div>
                  </li>
                  <li>
                <div class="icon-box"><img src="{{ asset ('assets/images/post/author.png') }}" class="img-responsive" alt="image post" /></div>
                <div class="info">
                  <p>Posted by:</p>
                  <a href="author.html">Waqas Hussain</a> </div>
              </li>
                </ul>
              </div>
            </div>
              
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
              <div class="caption">
                <h3 class="md-heading"><a href="{{ path('single_annonce', {id: 1}) }}">Évaluateurs Tourisme et Handicap : Pourquoi pas vous ?</a></h3>
                <p> Le Comité Régional du Tourisme et la DIRECCTE Auvergne-Rhône-Alpes recherchent des évaluateurs tourisme et handicap.
                    Vous cherchez à agir en faveur des personnes en situation de handicap ? Devenez évaluateur de la marque nationale.
                    Qu’est ce que la marque Tourisme et Handicap ? 
                    <br> (src) https://www.handirect.fr/evaluateurs-tourisme-et-handicap/
                </p>
                <a class="btn btn-default btn-lg" href="#" role="button">Read More</a> </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-12">
        <article class="post vt-post">
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
              <div class="post-type post-img"> <a href="#"><img src="{{ asset ('assets/images/post/m2.jpg') }}" class="img-responsive" alt="image post" /></a> </div>
              <div class="author-info author-info-2">
                <ul class="list-inline">
                  <li>
                    <div class="info">
                      <p>Posted on:</p>
                      <strong>Mar 21, 2015</strong></div>
                  </li>
                  <li>
                  <div class="icon-box"><img src="{{ asset ('assets/images/post/author.jpg') }}" class="img-responsive" alt="image post" /></div>
                  <div class="info">
                  <p>Posted by:</p>
                  <a href="author.html">Waqas Hussain</a> </div>
              </li>
                </ul>
              </div>
            </div>
              
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
             <div class="caption">
                <h3 class="md-heading"><a href="{{ path('single_annonce', {id: 1}) }}">Musique et handicap, c’est possible ?</a></h3>
                <p> Les ateliers avec des personnes handicapées sont très « prenants » ; ils demandent une forte énergie et une grande expérience personnelles… 
                    L’animateur se remet constamment en cause ; 
                    il lui arrive d’être découragé car l’enfant réagit rarement comme il le souhaite ou encore refuse de rentrer dans la « bulle » musicale qu’il a créée. 
                
                    <br> (src) http://stephane.hanquet.fr/surdite/musique-et-handicap-article-ufcv/
                </p>
                <a class="btn btn-default btn-lg" href="#" role="button">Read More</a> </div>
            </div>
          </div>
        </article>
      </div>
    </div>            
                         
    <h2 class="heading">Chroniques des utilisateurs </h2>
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <div class="row">
		
        {{ render(url('index_chronique_user')) }}
		
        </div>
        <div class="clearfix"></div>
      </div>
      <aside class="col-md-4 col-lg-4">
        <div class="row">
                    
            {#            #}
            <div class="col-sm-6 col-md-12 col-lg-12">
            <div class="panel panel-default theme-panel">
              <div class="panel-heading">Chroniques</div>
              
              <div class="panel-body">
                <form action="#" method="post">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span> </div>
                </form>
              </div>
              
              <div class="panel-body nopadding">
                <div class="list-group"> 
                  
                    {% for category in categories %} 
                        <a href="{{ path('chronique_rubrique', {rubrique: category.name}) }}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
        
                </div>
              </div>
            </div>
          </div>
        {#            #}
        </div>
      </aside>
    </div>
    
    <h2 class="heading">Chroniques des Associations </h2>
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <div class="row">
            
        {{ render(url('index_chronique_asso')) }}
               
      
        </div>
        <div class="clearfix"></div>
      </div>
      <aside class="col-md-4 col-lg-4">
        <div class="row">
                    
            {#            #}
            <div class="col-sm-6 col-md-12 col-lg-12">
            <div class="panel panel-default theme-panel">
              <div class="panel-heading">Chroniques</div>
              
              <div class="panel-body">
                <form action="#" method="post">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span> </div>
                </form>
              </div>
              
              <div class="panel-body nopadding">
                <div class="list-group"> 
                  
                    {% for category in categories %} 
                        <a href="{{ path('chronique_rubrique', {rubrique: category.name}) }}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
        
                </div>
              </div>
            </div>
          </div>
        {#            #}
        </div>
      </aside>
    </div>
        
    <h2 class="heading">Annonces </h2>
   
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <article class="post vt-post">
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
              <div class="post-type post-img"><a href="#"><img src="{{ asset ('assets/images/post/m1.jpg') }}" class="img-responsive" alt="image post" /></a> </div>
              <div class="author-info author-info-2">
                <ul class="list-inline">
                  <li>
                    <div class="info">
                      <p>Posted on:</p>
                      <strong>Mar 21, 2015</strong></div>
                  </li>
                  <li>
                    <div class="info">
                      <p>Comments:</p>
                      <strong>127</strong></div>
                  </li>
                </ul>
              </div>
            </div>
              
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
              <div class="caption">
                <h3 class="md-heading"><a href="{{ path('single_annonce', {id: 1}) }}">The Heading Text Size Should Match</a></h3>
                <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla.</p>
                <a class="btn btn-default" href="#" role="button">Read More</a> </div>
            </div>
          </div>
        </article>
                
       <article class="post vt-post">
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
              <div class="post-type post-img"><a href="#"><img src="{{ asset ('assets/images/post/m1.jpg') }}" class="img-responsive" alt="image post" /></a></div>
              <div class="author-info author-info-2">
                <ul class="list-inline">
                  <li>
                    <div class="info">
                      <p>Posted on:</p>
                      <strong>Mar 21, 2015</strong></div>
                  </li>
                  <li>
                    <div class="info">
                      <p>Comments:</p>
                      <strong>127</strong></div>
                  </li>
                </ul>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
              <div class="caption">
                <h3 class="md-heading"><a href="{{ path('single_annonce', {id: 1}) }}">The Heading Text Size Should Match</a></h3>
                <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla. </p>
                <a class="btn btn-default" href="#" role="button">Read More</a> </div>
            </div>
          </div>
        </article>
                
                
        <div class="pagination-wrap">
          <ul class="pagination">
            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a> </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">...</a></li>
            <li  class="active"> <a href="#" aria-label="Next"> <span aria-hidden="true">Next</span> </a> </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <aside class="col-md-4 col-lg-4">
           <div class="col-sm-6 col-md-12 col-lg-12">
            <div class="panel panel-default theme-panel">
              <div class="panel-heading">Tags</div>
              <div class="panel-body">
                <ul class="list-inline tags">
                  <li><a href="#">LifeStyle</a></li>
                  <li class="big"><a href="#">Music</a></li>
                  <li><a href="#">SmartPhones</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Travel</a></li>
                  <li class="big"><a href="#">Business</a></li>
                  <li class="small"><a href="#">LifeStyle</a></li>
                  <li><a href="#">SmartPhones</a></li>
                  <li><a href="#">Fireworks</a></li>
                  <li class="big"><a href="#">Travel</a></li>
                  <li><a href="#">Fireworks</a></li>
                  <li class="small"><a href="#">Music</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>


<!-- Footer -->

{% endblock %}
