{% extends "layout.html.twig" %}

{% block content %}
    <h1>{% if annonce.id %}Modification {% else %} Création {% endif %} annonce</h1>
    <form method="post">
        <div class="form-group">
            <label>Titre</label>
            <input type="text" name="title" class="form-control" value="{{ annonce.post_title }}">
        </div>
        <div class="form-group">
            <label>Contenu</label>
             <textarea name="content" class="form-control">{{ annonce.paragraphe_1 }}</textarea>
             <textarea name="content" class="form-control">{{ annonce.paragraphe_2 }}</textarea>
        </div>
        <div class="form-group">
            <label>url image</label>
                <textarea name="header" class="form-control">{{ annonce.url_img_1 }}</textarea>
                <textarea name="header" class="form-control">{{ annonce.url_img_2 }}</textarea>
                <textarea name="header" class="form-control">{{ annonce.url_img_3 }}</textarea>
        </div>
        <div class="form-group">
            <label>Categorie </label>
            <select name="category" class="form-control">
                <option value="">Choisissez une rubrique</option>
                {% for category in categories %}
                    <option 
                        value="{{ category.id }}"
                        {% if category.id == annonce.categoryId %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('admin_articles') }}" class="btn btn-default">Annuler</a>
    </form>
{% endblock %}