{% extends "layout.html.twig" %}

{% block content %}
    <h1>Annonces</h1>
    
    <p><a href="{{ path('admin_annonce_edit') }}">Ajouter un annonce</a></p>
    
    
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Texte 1</th>
            <th>Texte 2</th>
            <th>Img 1</th>
            <th>Img 2</th>
            <th>Img 3</th>
          {#<th>Auteur</th>#}
            <th width="200px"></th>
        </tr>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id_post }}</td>{# en php : $article->getId() #}
                <td>{{ annonce.post_title }}</td>{# en php : $article->getId() #}
                <td>{{ annonce.paragraphe_1}}</td>
                <td>{{ annonce.paragraphe_2}}</td>
                <td>{{ annonce.url_img_1}}</td>
                <td>{{ annonce.url_img_2}}</td>
                <td>{{ annonce.url_img_3}}</td>
             {# <td>{{ article.categoryName }}</td> #}
             {# <td>{{ article.authorName }}</td> #}
                <td>
                    <a href="{{ path('admin_annonce_edit', {id: annonce.id_post}) }}" class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('admin_annonce_delete', {id: annonce.id_post}) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="5" style="text-align: center">Aucun résultat</td></tr>
        {% endfor %}
    </table>
{% endblock %}
