{% extends "layout.html.twig" %}
{% block content %}
                   

<section class="innercontent">

    <div class="container">

    	
                   

   

        <div class="row">

            <div class="col-md-8 col-lg-8">

                <article class="post">

             

                    <div class="author-info">

                       <ul class="list-inline">  

                        <li>

                            <div class="icon-box"><img src="{{ asset('assets/images/post/author_1.png ') }}" class="img-responsive" alt="image post" /></div>

                            <div class="info">

                            

                           <a href="author.html">{{user.name}} </a>

                            </div>    

                        </li>

                        <li>

                           

                            <div class="info">

                            <p>Inscrit le :</p>
                                <strong>{{user.date_create}} </strong></div>
                        </li>

                        

                         <li>

                             <div class="icon-box"><i class="fa fa-comments-o"></i></div>

                             <div class="info">

                             <p>Note</p>
                                 <strong>4.5</strong></div>
                         </li>

                         <li>
                            <div class="info">
                            <p>Annonces </p>
                                <strong>4289</strong></div>
                        </li>
                        
                        <li>
                            <div class="info">
                            <p>Chroniques </p>
                                <strong>4289</strong></div>
                        </li>
                        
                         <li>
                            <div class="info">
                            <p>News </p>
                                <strong>4289</strong></div>
                        </li>

                       </ul>

                    </div>
                        
             <div class="caption"><div class="line-block">
                    <ul class="list-inline tags">                                      
                       <!-- <li onclick="afficher_div('IdModifierProfil');"><a  href="{{ path('updateProfil') }}">Modifier Profil </a></li> -->
                       <li><a  href="{{ path('updateProfil') }}">Modifier Profil </a></li>
                        <li onclick="afficher_div('IdGererAnnonces');"><a href="#">Gerer mes Annonces</a></li>
                        <li onclick="afficher_div('IdGererChronique');"><a href="#">Gerer mes chroniques</a></li>                   
                                  
                  
                    </ul>
                </div></div>
                        
                        

           
             
                    <div id="IdGererAnnonces" class="related-post" >

                        <div class="row">

                            <div class="col-md-12"><h4></h4></div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                                <div class="thumbnail">

                                  <a href="#"><img src="{{ asset('assets/images/post/related-post1.png ') }}" alt="related post"></a>

                                  <div class="caption">

                                    <a href="#">Cras sit amet nibh libero, in gravida nulla</a>

                                  </div>

                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                                <div class="thumbnail">

                                    <a href="#"><img src="{{ asset('assets/images/post/related-post2.png ') }}" alt="related post"></a>

                                  <div class="caption">

                                    <a href="#">Cras sit amet nibh libero, in gravida nulla</a>

                                  </div>

                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                                <div class="thumbnail">

                                    <a href="#"><img src="{{ asset('assets/images/post/related-post3.png ') }}" alt="related post"></a>

                                  <div class="caption">

                                    <a href="#">Cras sit amet nibh libero, in gravida nulla</a>

                                  </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    
                                    
                    <div id="IdProfilBlockAvis" class="comment-list ">
                        
			<div class="comment-count ">

				<h4>32 Avis</h4>

				<p><a href="#">Sign in</a> to comment or comment as a guest.</p>

			</div>
			

			<div class="media">

				<div class="media-left">

					<a href="#">

						<img class="media-object" src="{{ asset('assets/images/comment-thumbnail.png ') }}" alt="placeholder image">

					</a>

				</div>

				<div class="media-body">

					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </p>

					  <ul class="list-inline">

						  <li><a class="media-heading" href="#">Anonymous</a></li>

						  <li>3 hours ago</li>

						  <li><a class="reply-btn" href="#">Post Reply</a></li>

						</ul>

				  

				</div>

			</div>


                    </div>
                                    
                    <div id="IdProfilBlockComments" class="comment-list ">
                        
                        <div class="comment-count ">

                        <h4>32 Comments</h4>

                        <p><a href="#">Sign in</a> to comment or comment as a guest.</p>

                        </div>

                        <div class="media">

                          <div class="media-left">

                            <a href="#">

                              <img class="media-object" src="{{ asset('assets/images/comment-thumbnail.png ') }}" alt="placeholder image">

                            </a>

                          </div>

                          <div class="media-body">

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </p>

                              <ul class="list-inline">

                                  <li><a class="media-heading" href="#">Anonymous</a></li>

                                  <li>3 hours ago</li>

                                  <li><a class="reply-btn" href="#">Post Reply</a></li>

                                </ul>

                              

                          </div>

                        </div>

                        <div class="media">

                          <div class="media-left">

                            <a href="#">

                              <img class="media-object" src="{{ asset('assets/images/comment-thumbnail.png ') }}" alt="placeholder image">

                            </a>

</div>

                          <div class="media-body">

                            

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </p>

                              <ul class="list-inline">

                                  <li><a class="media-heading" href="#">Anonymous</a></li>

                                  <li>3 hours ago</li>

                                  <li><a class="reply-btn" href="#">Post Reply</a></li>

                                </ul>

                            <div class="media nested-first">

                              <div class="media-left">

                                <a href="#">

                                  <img class="media-object" src="{{ asset('assets/images/comment-thumbnail.png ') }}" alt="placeholder image">

                                </a>

                              </div>

                              <div class="media-body">

                                

                               <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>

                                  <ul class="list-inline">

                                  <li><a class="media-heading" href="#">Anonymous</a></li>

                                  <li>3 hours ago</li>

                                </ul>

                              </div>

</div>

                            <div class="media">

                              <div class="media-left">

                                <a href="#">

                                  <img class="media-object" src="{{ asset('assets/images/comment-thumbnail.png ') }}" alt="placeholder image">

                                </a>

                              </div>

                              <div class="media-body">

                               <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>

                                  <ul class="list-inline">

                                  <li><a class="media-heading" href="#">Anonymous</a></li>

                                  <li>3 hours ago</li>

                                </ul>

                              </div>

</div>

</div>

                        </div>

                    </div>

                    <div id="IdModifierProfil" class="comment-form">

                        <h4>Enntrez votre Message</h4>
                         <form  class="entry-form" action="" method="post" role="form" >   
      
		
         <div  id="role" class="hidden"  style="display:none;"><input type="text" name="role"   value="{{ user.role }}"></div>
        <div class="form-group form-element user-element"  style="display:none;"><input type="text" name="firstname" id="firstname" tabindex="1" class="form-control" placeholder="firstname" value="{{ user.firstname }}"></div>
        <div class="form-group form-element user-element"  style="display:none;"><input type="text" name="lastname" id="lastname" tabindex="1" class="form-control" placeholder="lastname" value="{{ user.lastname }}"></div>
        <div class="form-group form-element asso-element"  style="display:none;"><input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Nom de l'association" value="{{ user.name }}"></div>
        <div class="form-group form-element user-element"  style="display:none;"><input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Pseudo" value="{{ user.name }}"></div>
        <div class="form-group form-element commun-element" style="display:none;"><input type="email" name="email" id="email" tabindex="1" class="form-control user" placeholder="Email Address (champ obligatoire)" value="{{ user.email }}"></div>
        <div class="form-group form-element commun-element" style="display:none;" ><input type="password" name="password" id="password" tabindex="2" class="form-control user" placeholder="Password (champ obligatoire)"></div>
        <div class="form-group form-element commun-element"  style="display:none;"><input type="password" name="password_confirm" id="password_confirm" tabindex="2" class="form-control user" placeholder="Confirm Password(champ obligatoire) "></div>

        <div class="form-group form-element commun-element"  style="display:none; text-align: center">
        
                 <input type="tel" name="phone" id="phone" tabindex="1" class="form-control" placeholder="phone " value="{{ user.phone }}"> 
       
        </div>
        <div class="form-group form-element commun-element"  style="display:none;">
            <select id="civility" class="form-control " name="civility" value="{{ user.civility }}"> 
                    <option  value="" class="disabled selected hidden" name="text">Civilité?</option> 
                    <option  class="form-control " value="Mr" >Homme</option>
                    <option  class="form-control " value="Mme">Femme</option>

            </select>
        </div>
        
        <div class="form-group form-element commun-element"  style="display:none;">
            <!--<input type="file" name="url_img" id="url_img" tabindex="1" class="form-control" placeholder="Avatar (JPG, PNG ou GIF | max. 15 Ko)" value="{{ user.firstname }}"> -->
            
                <small class="">Avatar(JPG, PNG ou GIF | max. 15 Ko) : </small> 
                <input class="btn-file btn-default btn-block" type="file"  name="url_img" id="url_img" tabindex="1"  value="">
                {# {{ user.url_img }}" #}
         
        </div>
		
        <div class="form-group form-element commun-element"  style="display:none;"><input type="text" name="adress" id="adress" tabindex="1" class="form-control" placeholder="adress" value="{{ user.adress }}"></div>
        <div class="form-group form-element commun-element"  style="display:none;"><input type="text" onBlur="envoyerCP()" name="postal_code" id="postal_code" tabindex="1" class="form-control" placeholder="postal code" value="{{ user.postal_code }}">
            
        </div>
        <div class="form-group form-element commun-element"  style="display:none;"><input type="text" name="town" id="town" tabindex="1" class="form-control" placeholder="city" value="{{ user.town }}">
        </div>
        <div class="form-group form-element asso-element"  style="display:none;"><input type="text" name="url_web_orga" id="url_web_orga" tabindex="1" class="form-control" placeholder="url_web_orga" value="{{ user.url_web_orga }}"></div>
        <div class="form-group form-element asso-element"  style="display:none;"><input type="text" name="url_fb" id="url_fb" tabindex="1" class="form-control" placeholder="url_fb" value="{{ user.url_fb }}"></div>
        <div class="form-group form-element commun-element"  style="display:none;"><textarea name="description" id="description" tabindex="1" class="form-control"  value="{{ user.description }}">description</textarea></div>
		
        <div class="form-group"><input type="submit" name="register-submit" id="register-submit" tabindex="4" class="btn btn-default btn-lg" value="Register Now"></div>

    </form>

                    </div>

                   

                </article>

            <div class="clearfix"></div>

            </div>

      
           </div>

       

      </div>

    </section>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.10/jquery-ui.js"></script>
        <link rel="Stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" />
	 
        <script type="text/javascript">
                
            
        
               
                 
            function afficher_div(id)
            {
                 console.log(id);
                 // #IdProfilBlockComments, #IdGererAnnonces, #IdModifierProfil, #IdProfilBlockAvis,  #IdGererChronique     
                 id1 = 'IdProfilBlockComments';id2 = 'IdModifierProfil';id3 = 'IdProfilBlockAvis';id4 = 'IdGererChronique';;
                       $('#IdGererAnnonces').hide(); $('#id1').hide(); $('#id2').hide(); $('#id3').hide(); $('#id4').hide();
                       
                
                       
                        
                if (id === 'IdGererAnnonces') 
                    {   
                        id1 = 'IdProfilBlockComments';id2 = 'IdModifierProfil';id3 = 'IdProfilBlockAvis';id4 = 'IdGererChronique'; id='IdGererAnnonces'; }
                    
                if (id == 'IdProfilBlockComments') 
                    {   
                        id1 = 'IdGererAnnonces';id2 = 'IdModifierProfil';id3 = 'IdProfilBlockAvis';id4 = 'IdGererChronique';id='IdProfilBlockComments'; }
                    
                if (id == 'IdModifierProfil') 
                {
             
                      id1 = 'IdProfilBlockComments';id2 = 'IdGererAnnonces';id3 = 'IdProfilBlockAvis';id4 = 'IdGererChronique';id='IdModifierProfil';

                     if ($('#role').val() == 'user') 
                        {	
                                    $('.user-element').show();
                                    $('.commun-element').show();
                        } else 
                        {
                                    $('.commun-element').show();
                                    $('.asso-element').show();
                        }
                }
                    
                if (id == 'IdProfilBlockAvis') 
                {    
                        id1 = 'IdProfilBlockComments';id2 = 'IdGererAnnonces';id3 = 'IdModifierProfil';id4 = 'IdGererChronique';id='IdProfilBlockAvis'; }
                    
                if (id == 'IdGererChronique') 
                    {    
                        id1 = 'IdProfilBlockComments';id2 = 'IdGererAnnonces';id3 = 'IdModifierProfil';id4 = 'IdProfilBlockAvis';id='IdGererChronique'; }
                    
                    
                    
                      document.getElementById(id).style.display = 'block';
                      document.getElementById(id1).style.display = 'none';
                       document.getElementById(id2).style.display = 'none';
                        document.getElementById(id3).style.display = 'none';
                         document.getElementById(id4).style.display = 'none';
                         
              
                      
                       console.log('fin');
           
           
            }
                  /*
                   * 
                   * 
                   if (document.getElementById(id).style.display == 'none')
                  {
                       document.getElementById(id).style.display = 'block';
                  }
                  else
                  {
                       document.getElementById(id).style.display = 'none';
                  }
                }
                 */
           
	</script>
{% endblock %}