{% extends "layout.html.twig" %}

{% block  content  %}


		

<section class="innercontent">

    <div class="container">

    	<div class="row">

        	<div class="col-md-12">

            <h2 class="heading">SignUp</h2>

            	<div class="row">

                	<div class="col-md-6 col-md-offset-3">

                    <div class="panel panel-default x-panel">

  <div class="panel-body">
      

    <form  class="entry-form" action="" method="post" role="form" >   
      
		 <div class="form-group">
		
            <select id="role" class="form-control " name="role"> 
                <option  value="{{ user.role }}" class="disabled selected hidden" name="text">Qui êtes-vous?</option> 
                <option  class="form-control " value="asso" >Association</option>
                <option  class="form-control " value="user">Particulier</option>
            
            </select>
        </div>
        
        <div class="form-group form-element user-element"  style="display:none;"><input type="text" name="firstname" id="firstname" tabindex="1" class="form-control" placeholder="firstname" value="{{ user.firstname }}"></div>
        <div class="form-group form-element user-element"  style="display:none;"><input type="text" name="lastname" id="lastname" tabindex="1" class="form-control" placeholder="lastname" value="{{ user.lastname }}"></div>
        <div class="form-group form-element asso-element"  style="display:none;"><input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Nom de l'association" value="{{ user.name }}"></div>
        <div class="form-group form-element user-element"  style="display:none;"><input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Pseudo" value="{{ user.name }}"></div>
        <div class="form-group form-element commun-element" style="display:none;"><input type="email" name="email" id="email" tabindex="1" class="form-control user" placeholder="Email Address (champ obligatoire)" value="{{ user.email }}"></div>
        <div class="form-group form-element commun-element" style="display:none;" ><input type="password" name="password" id="password" tabindex="2" class="form-control user" placeholder="Password (champ obligatoire)"></div>
        <div class="form-group form-element commun-element"  style="display:none;"><input type="password" name="password_confirm" id="password_confirm" tabindex="2" class="form-control user" placeholder="Confirm Password(champ obligatoire) "></div>

        <div class="form-group form-element commun-element"  style="display:none; text-align: center">
                
                 <input type="tel" name="phone" id="phone" tabindex="1" class="form-control" placeholder="phone " value="{{ user.phone }}"> 
                <!--<span style="text-align: left;"> Phone </span>
                <input type=tel size=2  maxlength="2" placeholder="--" name="phone1" style="text-align: center;"> -  
                <input type=tel size=2 maxlength="2" placeholder="--" name="phone2" style="text-align: center;"> -  
                <input type=tel size=2 maxlength="2" placeholder="--" name="phone3" style="text-align: center;"> -  
                <input type=tel size=2 maxlength="2" placeholder="--" name="phone4" style="text-align: center;"> - 
                <input type=tel size=2 maxlength="2" placeholder="--" name="phone5" style="text-align: center;"> -->
           
        </div>
        <div class="form-group form-element commun-element"  style="display:none;">
            <select id="civility" class="form-control " name="civility" value="{{ user.civility }}"> 
                    <option  value="" class="disabled selected hidden" name="text">Civilité?</option> 
                    <option  class="form-control " value="Mr" >Homme</option>
                    <option  class="form-control " value="Mme">Femme</option>

            </select>
        </div>
        
        <div class="form-group form-element commun-element"  style="display:none;">
            <!--<input type="file" name="url_img" id="url_img" tabindex="1" class="form-control" placeholder="Avatar (JPG, PNG ou GIF | max. 15 Ko)" value="{{ user.firstname }}"> -->
            <div class="form-control">
               Avatar(JPG, PNG ou GIF | max. 15 Ko) :<input type="file"   name="url_img" id="url_img" tabindex="1"  value="{{ user.url_img }}">
            </div>
        </div>
		
        <div class="form-group form-element commun-element"  style="display:none;"><input type="text" name="adress" id="adress" tabindex="1" class="form-control" placeholder="adress" value="{{ user.adress }}"></div>
        <div class="form-group form-element commun-element"  style="display:none;"><input type="text" onBlur="envoyerCP()" name="postal_code" id="postal_code" tabindex="1" class="form-control" placeholder="postal code" value="{{ user.postal_code }}">
            
        </div>
        <div class="form-group form-element commun-element"  style="display:none;"><input type="text" name="town" id="town" tabindex="1" class="form-control" placeholder="city" value="{{ user.town }}">
        </div>
        <div class="form-group form-element asso-element"  style="display:none;"><input type="text" name="url_web_orga" id="url_web_orga" tabindex="1" class="form-control" placeholder="url_web_orga" value="{{ user.url_web_orga }}"></div>
        <div class="form-group form-element asso-element"  style="display:none;"><input type="text" name="url_fb" id="url_fb" tabindex="1" class="form-control" placeholder="url_fb" value="{{ user.url_fb }}"></div>
        <div class="form-group form-element commun-element"  style="display:none;"><textarea name="description" id="description" tabindex="1" class="form-control"  value="{{ user.description }}">description</textarea></div>
		
        <div class="form-group"><input type="submit" name="register-submit" id="register-submit" tabindex="4" class="btn btn-default btn-lg" value="Register Now"></div>

    </form>


  </div>

</div>

                    </div>

                    

                </div>

            </div>

        </div>

      </div>

    </section>
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.10/jquery-ui.js"></script>
        <link rel="Stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" />
	 <script type="text/javascript">
		 $('#role').change(function(event)
                 {
                     var $this = $(this);
                     
                     $('.form-element').hide();

                     if ($this.val() == 'user') {	
							$('.user-element').show();
							$('.commun-element').show();
                     } else {
							$('.commun-element').show();
							$('.asso-element').show();
                     }
                 });
                 
                 
                 function envoyerCP()
                 {
                     console.log({ "codePostal": $('input[name="postal_code"]').val() });
                     
                        $.ajax
                        ({
                                //url: "APIautoCompletion.php",  
                                url : '{{ path('APIautoCompletion') }}', 
                                method  : "POST", 
                                data    : { "codePostal": $('input[name="postal_code"]').val() },
                                datatype: 'json'
                        
                        })

                        .done(function(data)
                        {
{#                                data = JSON.parse(data2)#}
                                console.log(data);
                                console.log(data.reponse);
                                //Init contenu ville
                                $('input[name="town"]').val('');
                                if (data.reponse == "ERROR")
                                {
                                        $('input[name="postal_code"]').val('CP INEXISTANT')
                                        $('input[name="postal_code"]').css('color','red')
                                } 
                                else $('input[name="town"]').val(data.VILLE)


                        })

                        .fail(function( jqXHR, textStatus )
                        {
                                console.log( "Request failed: " + textStatus );
                        });
                    }
	</script>
{% endblock %}